body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 5.625rem;
  color: #9CB4CC;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}
h2{
    color: #9CB4CC;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}
a{
     color: #11999E;
     font-family: 'Montserrat', sans-serif;
     margin: 10px 20px;
     text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #E1f6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.top-container{
  background-color: #355764;
  position: relative;
  padding-top: 100px
}
.middle-container{
  margin-top: 100px ;
}
.bottom-container{
background-color:  #355764;
padding-top:   20px ;
margin-top:  80px ;
margin-bottom: -10px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
position: absolute;
right: 300px;
top: 40px;
}
.profile{
  padding-top: 2px;
}
.intro{
  width: 30%;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.education{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.edu{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.html-css{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.bootstrap{
    width: 25%;
    float: right;
    margin-left: 30px;

}
.js{
    width: 25%;
    float: left;
    margin-right: 30px;

}
.contact-me{
  border-radius: 8;

}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color:#E1f6f6;
  font-size: 0.75rem;
  padding: 20px 0px
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
